.u-section-1 .u-sheet-1 {
  min-height: 815px;
}


form{

  display: flex;
  flex-direction: column;

  align-items: center;
  margin: auto !important;
  padding: auto !important;
}

form input{
  width: 400px;
  margin-bottom: 10px;
}

form button{
  padding: 20px;
  font-size: 30px;
  font-weight: bolder;
  background-color: goldenrod;
  border: none;
}

.u-section-1 .u-checkout-1 {
  min-height: 748px;
  margin-bottom: 30px;
  height: auto;
  margin-top: 30px;
}

.u-section-1 .u-text-1 {
  /* margin-right: auto; */
}

.u-section-1 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  margin-top: 20px;
}